.album-header-container {
    margin-top: 55px;
    margin-bottom: 40px;
  }
 
  // This styles the right side of our Album Header
.album-header-information {
  // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
  margin-top: 45px;
  margin-bottom: 20px;
  
  $modLineHeight:150%;

    h3 {
      font-size: 48px;
      font-weight: 300;
      line-height: $modLineHeight;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: $modLineHeight;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
      line-height: $modLineHeight;
    }
}
// This styles our Song Listing
.table.album-song-listing {
    // Override the font for the entire table.
    font-weight: 300;
    // Override the defaults that Bootstrap sets.
    td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, .4);
    }
}
.album-song-button {
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: #d2287b;
  border-radius: 50% 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b;
    }
    i {
      line-height: 28px;
    }
    .fa-play {
      padding-left: 5px;
    }
    td {
      vertical-align: center;
        .song-number {
          padding: 0;
          height: 70px;
          text-align: center;
        }
    }
}